	<div id="jum-home" class="jumbotron">
		<div class="container">
			<div class="row text-center">
				<div class="col-4">
					<p><i class="fas fa-phone"></i> - <strong>Call</strong></p>
					<p> + 39 392 4314667</p>
				</div>
				<div class="col-4">
					<p><i class="fas fa-envelope-open-text"></i> - <strong>Contact</strong></p>
					<p> mttventuri@gmail.com </p>
				</div>
				<div class="col-4">
					<p><i class="far fa-thumbs-up"></i> - <strong>Follow me</strong></p>
					<p><a href="https://www.linkedin.com/in/matteo-venturi-67a457161/"><i style="color:white; font-size:1.5em" class="fab fa-linkedin-in"></i></a></p>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="/scripts/main.js"></script>

</body>
</html>