<nav class="navbar home bottom navbar-expand navbar-dark" style="background-color:#121617">
		<div class="navbar-collapse justify-content-center">
			<ul class="navbar-nav" style="color:white">
				<li><i style="color:white; font-size:1em" class="rounded-circle fas fa-at"></i> mttventuri@gmail.com</li>
				</ul>
		</div>
	</nav>