<nav class="navbar home bottom navbar-expand-lg navbar-dark" style="background-color:#121617">
		<div class="navbar-collapse justify-content-center" id="navbarSupportedContent">
			<ul class="navbar-nav" style="color:white">
				<li>email: mttventuri@gmail.com</li>
				</ul>
		</div>
	</nav>