<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container" style="margin-top:5rem">
	<div class="row justify-content-center">
		<div class="col-lg-7">
			<p>
				Picture this: you find yourself stuck at home for months, you cannot go out nor invite someone at your place. Sounds like the beginning of a city-survival-b-movie, right?
			</p>
			<p>
				Well, you may know that's exactly what happened to the whole world because of the major pandemic that hit since November 2019 (and this really sounds like a city-survival-HORROR-movie ...)
			</p>
			<span>
			<figure class="figure" style="margin-left:auto; margin-right:auto">
				<img id="pic" src="https://www.suffragettecinema.org/wp-content/uploads/2016/11/b.jpg"  class="figure-img img-fluid rounded" alt="Responsive image">
				<figcaption class="figure-caption">"Creature from the black lagoon" - an infamous example of b-movie</figcaption>
			</figure>
				</span>
			<p>
				Anyway, I found myself going from "I would like to have more free time to devote to my hobbies" to "s**t, I have too much free time, I have to devote it to my hobbies..". Long story short, I finally went back to an online course on Udemy -that I bought 2 years ago- to learn how to create your own web app.
			</p>
			<p>
				And that's pretty much the story of this website: after one month spent learning, I started developing the front-end and the back-end, and this is the result!
			</p>

			<!--Immagine-->
			<p>
				Was it easy? No.
				Was it fun? Well yes, but actually no.
				Was it worth it? You tell me! Reach me and tell me what you think and all your suggestions!
			</p>
			
		</div>
	</div>
</div>

<%- include("partials/footer") %>