<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container-fluid" style="margin-top:5rem">
	<div class="row justify-content-center">
		<h1 class="display-2"> About this website </h1>
		<div class="col-lg-8" style="margin-bottom:5rem; text-align:justify">
			<hr>
			<blockquote class="blockquote text-right rounded" style="padding-right:0.5em; border-right: 3px solid black">
				<p class="mt-2 mb-0">"Give a man a program, frustrate him for a day. Teach a man to program, frustrate him for a lifetime."</p>
				<footer class="blockquote-footer">Muhammad Waseem</footer>
			</blockquote>
			<img style="width:100%; margin-top:0.5rem; margin-bottom:1.5rem" src="/stylesheets/landscape-about.jpg" class="rounded">
			<p>
				Picture this: you find yourself stuck at home for months, you cannot go out nor invite someone at your place. You can only go out to buy groceries or go to the doctor. Once, maybe twice a day, you'll hear a speaker saying "stay at home, be safe, don't go out". And if you go outside, Police is everywhere, looking for you. Sounds like the beginning of a city-survival-b-movie, right? <br>
				Well, you may know that's exactly what happened to the whole world this year because of the major pandemic that hit since November (reality can be scarier than a city-survival-HORROR-movie ...).
			</p>
			<span>
			<figure class="figure" style="display:block; margin-left:auto; margin-right:auto" >
				<img id="pic" src="/stylesheets/pic-lagoon.jpg"  class="figure-img img-fluid rounded" alt="Responsive image">
				<figcaption class="figure-caption text-center">"Creature from the black lagoon" - One of the most popular B-grade cult films of all time.</figcaption>
			</figure>
			</span>
			<p>
				Anyway, I found myself going from "I would like to have more free time to devote to my hobbies" to "s**t, I have too much free time, I have to devote it to my hobbies..". Long story short, I finally went back to an online course on Udemy -that I bought 2 years ago- to learn how to create your own web app. After one month spent learning, I started developing the front-end and the back-end, and this is the result!
			</p>
			<p>
				ALERT: boring technical stuff ahead. If you are not that-kind-of-a-person, I think you should skip this section.
			</p>
			<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))">
			<p>
				First of all, no "WordPress" around here. Not that there is anything wrong in using a content management system; they are reliable, easy-to-use and they can save you a lot of time if your goal is "just" to setup a webpage. But my plan was different, I wanted to start from scratch, learning HMTL, CSS, JS and everything else you need to write and deploy a website. And so I did: starting from an empty HTML file (and continously browing the endless StackOverflow documentation), I reach my goal.<br>
			</p>
			<p>
				Going more in detail:
			</p>
			<ul>
				<li>I used JavaScript as programming language and <em>Nodejs</em> as runtime.</li>
				<li>The layout is powered by a CSS document and by <em>Bootsrap 4</em>, an open source toolkit for developing with HTML, CSS, and JS.</li>
				<li>The website is developed on <em>goormIDE</em>, a free cloud Integrated development environment, a software application that provides comprehensive facilities to computer programmers for software development.</li>
				<li>To deploy this website, I used <em>Heroku</em>, a container-based cloud Platform as a Service used by developers to deploy, manage, and scale modern apps.</li>
			</ul>
			<span>
			<figure class="figure" style="display:block; margin-left:auto; margin-right:auto" >
				<img id="pic" style=" display:block; margin-left:auto; margin-right:auto; max-height:30em;" src="https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1491&q=80"  class="figure-img img-fluid rounded" alt="Responsive image">
				<figcaption class="figure-caption text-center">A fancy way of representig coding.</figcaption>
			</figure>
			</span>
			<hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))">
			<p>
				At the end of the day, we can finally answer some crucial questions:<br>
				Was it easy? No.<br>
				Was it fun? Well yes, but actually no.<br>
				Was it worth it? You tell me! Reach me and tell me what you think and all your suggestions!<br>
				Please excuse me if something is not working perfectly, email me and I'll be glad to fix it as soon as the next pandemic will hit (so let's hope never).
			</p>
		</div>
	</div>
</div>

<%- include("partials/navbar-bottom") %>

<%- include("partials/footer") %>