<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container text-center" style="margin-top:10rem">
	
	<img id="profile-pic" src="https://i.pinimg.com/originals/66/95/15/66951598f8b4cb998fc292efad3152c0.jpg" style="width:100%; height:100%">
	</div>

<%- include("partials/footer") %>