<%- include("partials/header") %>

<%- include("partials/navbar") %>
<div style="margin-top:10rem">
	Prova
<a href = "mailto: abc@example.com">Send Email</a>
</div>
<%- include("partials/navbar-bottom") %>

<%- include("partials/footer") %>