<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container text-center">
	
	<img id="profile-pic" src="https://i.pinimg.com/originals/66/95/15/66951598f8b4cb998fc292efad3152c0.jpg" alt="Responsive image" class="img-thumbnail" style="width:100em">
	
</div>

<%- include("partials/footer") %>