<%- include("partials/header") %>

<%- include("partials/navbar") %>

	
<div class="row prova" >
	<div class="col-12" style="color:white">
		<h1 class="display-1">Hello,</h1>
		<h1 class="display-4">Welcome to my website!</h1>	
	</div>	
</div>


<nav class="navbar home fixed-bottom navbar-expand-lg navbar-dark" id="spy">
		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="https://www.linkedin.com/in/matteo-venturi-67a457161/"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fab fa-linkedin-in"></i></a></li>
				<li class="nav-item"><a href="https://www.linkedin.com/in/matteo-venturi-67a457161/"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fab fa-instagram"></i></a></li>
				<li class="nav-item"><a href="https://www.linkedin.com/in/matteo-venturi-67a457161/"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fas fa-at"></i></a></li>
			</ul>
		</div>
	</nav>





	
	
	<!-- OLD LAYOUT -->
<!-- <div id="main" class="container">
	<div class="row align-items-center">
		<div class="col-md-5 text-center">
			<img id="profile-pic" src="/stylesheets/picture.jpg" alt="Responsive image" class="img-thumbnail">
		</div>
		<div class="col-md-7">
			<div id="intro">
				<h1 class="display-3">Hello,</h1>
				<h1 class="display-5">Welcome to my website!</h1>			
			</div>
			<div id="buttons" class="row text-center align-items-center">
				<div class="col-4">
					<a class="btn btn-lg btn-primary" href="/resume" role="button">My Resume</a>
				</div>
				<div class="col-4">
					<a class="btn btn-lg btn-primary" href="/experiences" role="button">My Experiences</a>
				</div>
				<div class="col-4">
					<button type="button" class="btn btn-lg btn-primary"> About this website</button>
				</div>
			</div>
			<p id="home-par">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
			</p>
		</div>
	</div>
</div>
	 -->
	
	
<script>
	$("body").addClass('home');
	$(".navbar").removeClass('home');
</script>

<%- include("partials/footer") %>