<%- include("partials/header") %>

<%- include("partials/navbar") %>

	
<div class="row position">
	<div class="col-md-12" style="color:white">
		<h1 class="display-1 d-none d-sm-block">Hello,</h1>
		<h1 class="display-4 d-none d-sm-block">Welcome to my website!</h1>
		<h1 class="display-4 d-block d-sm-none">Hello,</h1>
		<h3 class="d-block d-sm-none">Welcome to my website!</h3>
	</div>	
</div>


<nav class="navbar home fixed-bottom navbar-expand navbar-dark" id="spy">
		<div class="navbar-collapse justify-content-center">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="https://www.linkedin.com/in/matteo-venturi-67a457161/"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fab fa-linkedin-in"></i></a></li>
				<li class="nav-item"><a href="https://www.instagram.com/ventuboy/"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fab fa-instagram"></i></a></li>
				<li class="nav-item"><a href="mailto: mttventuri@gmail.com"><i style="padding:10px; margin:5px; color:white; font-size:2em; border:3px solid white" class="rounded-circle fas fa-at"></i></a></li>
			</ul>
		</div>
	</nav>

	
<script>
	$("body").addClass('home');
	$(".navbar").removeClass('home-nav');
</script>

<%- include("partials/footer") %>