<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container-fluid" id="jum-resume" style="opacity:0">
	<div class="row justify-content-center" >
		<div class="col-4 text-center" style="margin-top:7rem">
			<h1 class="display-2">My Resume</h1>
			<img src="/stylesheets/picture.jpg" class="img-fluid rounded" style="margin-top:1rem; height:21rem" alt="Responsive image">
		</div>
	</div>
</div>


<!-- PROFESSIONAL EXPRECIENCE -->

<div class="container-fluid" style="margin-top:1rem">
	<div class="row justify-content-center">
		<div class="trial1 col-6" style="opacity:0">
			<span id=scroll-1>
				<div class="text-center" >
					<h1> Professional Experience </h1>
					<hr style="border-top: 1px solid #102e5e">
				</div>
				<div class="row">
					<div class="col-6 text-right">
						<p><strong>August 2019 – Today</strong></p>
						<p><em> Application Specialist - HVAC Industrial</em></p>
					</div>
					<div class="col-6">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
							<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
							<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-6 text-right">
						<p><strong>August 2019 – Today</strong></p>
						<p><em> Application Specialist - HVAC Industrial</em></p>
					</div>
					<div class="col-6">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
							<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
							<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-6 text-right">
						<p><strong>August 2019 – Today</strong></p>
						<p><em> Application Specialist - HVAC Industrial</em></p>
					</div>
					<div class="col-6">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
							<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
							<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-6 text-right">
						<p><strong>August 2019 – Today</strong></p>
						<p><em> Application Specialist - HVAC Industrial</em></p>
					</div>
					<div class="col-6">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
							<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
							<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
						</ul>
					</div>
				</div>
			</span>
		</div>
	</div>
	
	<!-- EDUCATION AND QUALIFICATIONS -->
	<div class="row justify-content-center">
		<div class="trial2 col-6" style="opacity:0">
			<div id="scroll-2" class="text-center" style="margin-top:5em">
				<h1> Education And Qualifications </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- LANGUAGE SKILLS -->
	<div class="row justify-content-center">
		<div class="trial3 col-6" style="opacity:0">
			<div id=scroll-3 class="text-center" style="margin-top:5em">
				<h1> Language Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-4 text-center">
					<p><strong>Italian</strong></p>
				</div>
				<div class="col-4 text-center">
					<p><strong>English</strong></p>
				</div>
				<div class="col-4 text-center">
					<p><strong>French</strong></p>
				</div>
			</div>
		</div>
	</div>
	<!-- COMPUTER SKILLS -->
	<div class="row justify-content-center">
		<div class="trial4 col-6" style="opacity:0">
			<div id=scroll-4 class="text-center" style="margin-top:5em">
				<h1> Computer Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>Advanced knowledge</strong></p>
				</div>
				<div class="col-6">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>Basic knowledge</strong></p>
				</div>
				<div class="col-6">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- EXTRACURRICULAR ACTIVITIES AND INTERESTS -->
	<div class="row justify-content-center">
		<div class="trial5 col-6" style="opacity:0">
			<div class="text-center" style="margin-top:5em">
				<h1> Extracurricular Activities and Interests </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="container" style="margin-bottom:10em">
				<div class="text-center">
					Visit the <a class="btn btn-lg btn-primary" href="/experiences" role="button">My Experiences</a> section!
				</div>
			</div>
			
		</div>
	</div>	
</div>




<script>
	var element_position1 = $('#scroll-1').offset().top;
	var element_position2 = $('#scroll-2').offset().top;
	var element_position3 = $('#scroll-3').offset().top;
	var element_position4 = $('#scroll-4').offset().top;
	
	var screen_height = $(window).innerWidth()//height();
	var body_height = $('body').height();

	var activation_offset = 0.4;//determines how far up the the page the element needs to be before triggering the function
	var activation_point1 = element_position1 - (screen_height * activation_offset);
	var activation_point2 = element_position2 - (screen_height * activation_offset);
	var activation_point3 = element_position3 - (screen_height * activation_offset);
	var activation_point4 = element_position4 - (screen_height * activation_offset);
	var max_scroll_height = $('body').height() - screen_height - 5;//-5 for a little bit of buffer	

	//Does something when user scrolls to it OR
	//Does it when user has reached the bottom of the page and hasn't triggered the function yet
	$(window).on('scroll', function() {
		var y_scroll_pos = window.pageYOffset;
		var element_in_view1 = y_scroll_pos > activation_point1;
		var has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view1;
		if(element_in_view1 || has_reached_bottom_of_page) {
			console.log(element_position1);
			$(".trial1").animate({ opacity: 1 },700);
			$('a[href="#scroll-1"]').closest('li').addClass('active');
		}
	});
	$(window).on('scroll', function() {
		var y_scroll_pos = window.pageYOffset;
		var element_in_view2 = y_scroll_pos > activation_point2;
		var has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view2;
		if(element_in_view2 || has_reached_bottom_of_page) {
			$(".trial2").animate({ opacity: 1 },700);
			 $('a[href="#scroll-2"]').closest('li').addClass('active');
		}
	});
	$(window).on('scroll', function() {
		var y_scroll_pos = window.pageYOffset;
		var element_in_view3 = y_scroll_pos > activation_point3;
		var has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view3;
		if(element_in_view3 || has_reached_bottom_of_page) {
			$(".trial3").animate({ opacity: 1 },700);
			 $('a[href="#scroll-3"]').closest('li').addClass('active');
		}
	});
	$(window).on('scroll', function() {
		var y_scroll_pos = window.pageYOffset;
		var element_in_view4 = y_scroll_pos > activation_point4;
		var has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view4;
		if(element_in_view4 || has_reached_bottom_of_page) {
			$(".trial4").animate({ opacity: 1 },700);
			 $('a[href="#scroll-4"]').closest('li').addClass('active');
		}
	});
</script>

<script>
	$(".ex").closest("li").toggleClass('hide');
</script>

<script>
$(window).ready(function(){
	$("#jum-resume").animate({ opacity: 1 },800);
})
</script>


<%- include("partials/footer") %>