<%- include("partials/header") %>

<%- include("partials/navbar") %>

<div class="container-fluid" id="jum-resume" style="opacity:0">
	<div class="row justify-content-center" >
		<div class="col-12 text-center" style="margin-top:5rem">
			<h1 class="display-2 d-none d-sm-block">My Resume</h1>
			<img src="/stylesheets/picture.jpg" class="img-fluid rounded" id="profile-pic" alt="Responsive image">
		</div>
	</div>
</div>


<!-- PROFESSIONAL EXPRECIENCE -->

<div class="container-fluid" style="margin-top:2rem">
	<div style="text-align: center" id="prova" >
		<h1 class="display-3">Scroll down!</h1>
		<i class="arrow bounce fas fa-arrow-down"></i>
	</div>
	<div class="row justify-content-center">
		<div class="trial col-lg-7" style="opacity:0">
			<span id=scroll-1>
				<div class="text-center" >
					<h1> Professional Experience </h1>
					<hr style="border-top: 1px solid #102e5e">
				</div>
				<div class="row">
					<div class="col-4 text-right">
						<p><strong>August 2019 – Today</strong></p>
						<p><em> Application Specialist - HVAC Industrial</em></p>
					</div>
					<div class="col-8">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
							<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
							<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-4 text-right">
						<p><strong>February 2019 – August 2019</strong></p>
						<p><em> Project Engineer @ Join the Future 4 Graduate Program</em></p>
					</div>
					<div class="col-8">
						<h5>CAREL Industries S.R.L, Padua, Italy</h5>
						<ul>
							<li> Sales &amp; Marketing department project [4 months]: focus on the HVAC market’s segmentation with the intent to create a
"product catalogue" to ease the salesmans’ work.</li>
							<li> Lean Department project [1 month]: optimization and improvement of a production line. Focus on the lean management of an
order up to the final product.</li>
							<li> Atlanta Branch Office projects [2 months]:
								<ul>
									<li>Development of an A3 to discover and analyze the main challenges in the HVAC OEM market in the US: daily interaction
with Managing Directors, Head of Sales and Regional Sales Manager.</li>
									<li>Product flipbook to ease new customers’s first approach with CAREL catalog.</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-4 text-right">
						<p><strong>October 2018 – January 2019</strong></p>
						<p><em> Project Planner Intern</em></p>
					</div>
					<div class="col-8">
						<h5>Hitachi Industrial EMEA, Pistoia, Italy</h5>
						<ul>
							<li> Planning rail projects for engineering, manufacturing and testing activities till vehicle delivery.</li>
							<li> Daily interface with Project Manager, Engineering department heads and Production managers.</li>
							<li> Daily support to project engineering monitoring project progress and manage design reviews and Open Items.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-4 text-right">
						<p><strong>October 2017 – April 2018</strong></p>
						<p><em> FEM / Multibody Analyst - Intern</em></p>
					</div>
					<div class="col-8">
						<h5>Centro Ricerche Fiat, Turin, Italy</h5>
						Master thesis development: “Structure borne noise simulation and reduction of an automotive HVAC system”.
						<ul>
							<li>Dynamic and acoustic tests on an existing component to validate a finite element model.</li>
							<li>Use of specific softwares to evaluate the acoustical transfer function in cabin cavity.</li>
							<li>Component modification and optimization to increase driver’s comfort.</li>
						</ul>
					</div>
				</div>
				<hr width="50%">
				<div class="row">
					<div class="col-4 text-right">
						<p><strong>August 2016 – August 2016</strong></p>
						<p><em> Representative for the University of Florence - eNTERFACE ’16 workshop</em></p>
					</div>
					<div class="col-8">
						<h5>Twente University, Enschede, Holland</h5>
						Evaluation of stresses and strains and application of the topology optimization algorithm on a low-cost portable hand exoskeleton
for assistive and rehabilitation purposes.
					</div>
				</div>
			</span>
		</div>
	</div>
	
	<!-- EDUCATION AND QUALIFICATIONS -->
	<div class="row justify-content-center">
		<div class="trial col-lg-7" style="opacity:1">
			<div id="scroll-2" class=" text-center" style="margin-top:5em">
				<h1> Education And Qualifications </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-4 text-right">
					<p><strong>October 2018 – Today</strong></p>
					<p><em>Member in good standing</em></p>
				</div>
				<div class="col-8">
					<h5>Italian society of professional engineers, Florence, Italy</h5>
					Licensed to practice in Italy and throughout the European Union.
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-4 text-right">
					<p><strong>February 2016 – April 2018</strong></p>
					<p><em>M.Sc - Mechanical Engineering (Automotive)</em></p>
				</div>
				<div class="col-8">
					<h5>Università degli Studi di Firenze, Florence, Italy</h5>
					Final grade: 110/110 with honours
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-4 text-right">
					<p><strong>September 2012 – February 2016</strong></p>
					<p><em>B.Sc - Mechanical Engineering</em></p>
				</div>
				<div class="col-8">
					<h5>Università degli Studi di Firenze, Florence, Italy</h5>
					Final grade: 109/110 with honours
				</div>
			</div>
		</div>
	</div>
	<!-- LANGUAGE SKILLS -->
	<div class="row justify-content-center">
		<div class="trial col-lg-7" style="opacity:1">
			<div id="scroll-3" class="text-center" style="margin-top:5em">
				<h1> Language Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-4 text-center">
					<p><strong>Italian</strong></p>
					Native speaker
				</div>
				<div class="col-4 text-center">
					<p><strong>English</strong></p>
					Fluent
				</div>
				<div class="col-4 text-center">
					<p><strong>French</strong></p>
					Basic
				</div>
			</div>
		</div>
	</div>
	<!-- COMPUTER SKILLS -->
	<div class="row justify-content-center">
		<div class="trial col-lg-7" style="opacity:1">
			<div id="scroll-4" class="text-center" style="margin-top:5em">
				<h1> Computer Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-4 text-right">
					<p><strong>Advanced knowledge</strong></p>
				</div>
				<div class="col-8">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-4 text-right">
					<p><strong>Basic knowledge</strong></p>
				</div>
				<div class="col-8">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(".ex").closest("li").toggleClass('hide');
</script>

<script>
$(window).ready(function(){
	$("#jum-resume").animate({ opacity: 1 },800);
})
</script>

<script>
	$(window).on("load",function() {
		$(window).on('scroll', function() {
		$("#prova").fadeOut(100,function(){});
		});
	});
		
	$(window).on("load",function() {
		$(window).on('scroll', function() {
		var windowBottom = $(this).scrollTop() + $(this).outerHeight();
		$(".trial").each(function() {
			/* Check the location of each desired element */
			var objectBottom = $(this).offset().top ;
			/* If the element is completely within bounds of the window, fade it in */
			if (objectBottom+50< windowBottom) { //object comes into view (scrolling down)
				if ($(this).css("opacity")==0) {$(this).fadeTo(800,1);}
			} else { //object goes out of view (scrolling up)
				if ($(this).css("opacity")==1) {$(this).fadeTo(800,0);}
			}
		});
		}) //invoke scroll-handler on page-load
	});
</script>

<%- include("partials/navbar-bottom") %>

<%- include("partials/footer") %>