<%- include("partials/header") %>

<div id="jum-resume" class="jumbotron">
	<h1 class="text-center display-3 text-white">My Resume</h1>
	<div class="container-fluid" style="padding-top: 3em">
		<div class="row justify-content-center">
			<div class="col-5">
				<div class="jumbotron">
					<h3> Paragraph </h3>
					<p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- PROFESSIONAL EXPRECIENCE -->

<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div class="jumbotron">
				<div>
					<nav class="nav flex-column">
						<a class="nav-link active" href="#">Active</a>
						<a class="nav-link" href="#">Link</a>
						<a class="nav-link" href="#">Link</a>
						<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
					</nav>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="text-center" style="margin-top:5em">
				<h1> Professional Experience </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>

		<!-- EDUCATION AND QUALIFICATIONS -->

			<div class="text-center" style="margin-top:5em">
				<h1> Education And Qualifications </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>August 2019 – Today</strong></p>
					<p><em> Application Specialist - HVAC Industrial</em></p>
				</div>
				<div class="col-6">
					<h5>CAREL Industries S.R.L, Padua, Italy</h5>
					<ul>
						<li> Provide commercial and technical support to the sales teams of CAREL subsidiaries and branches.</li>
						<li> Continuously update on market trends with the intent to develop marketing analysis and deliver valuable inputs to promote business.</li>
						<li> Represent CAREL in industry exhibitions and customer meetings, within and outside of the EU.</li>
					</ul>
				</div>
			</div>

			<!-- LANGUAGE SKILLS -->

			<div class="text-center" style="margin-top:5em">
				<h1> Language Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-4 text-center">
					<p><strong>Italian</strong></p>
				</div>
				<div class="col-4 text-center">
					<p><strong>English</strong></p>
				</div>
				<div class="col-4 text-center">
					<p><strong>French</strong></p>
				</div>
			</div>



			<!-- COMPUTER SKILLS -->

			<div class="text-center" style="margin-top:5em">
				<h1> Computer Skills </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>Advanced knowledge</strong></p>
				</div>
				<div class="col-6">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>
			<hr width="50%">
			<div class="row">
				<div class="col-6 text-right">
					<p><strong>Basic knowledge</strong></p>
				</div>
				<div class="col-6">
					<ul>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
						<li> Software</li>
					</ul>
				</div>
			</div>	

			<!-- EXTRACURRICULAR ACTIVITIES AND INTERESTS -->

			<div class="text-center" style="margin-top:5em">
				<h1> Extracurricular Activities and Interests </h1>
				<hr style="border-top: 1px solid #102e5e">
			</div>
			<div class="container" style="margin-bottom:10em">
				<div class="text-center">
					Visit the <a class="btn btn-lg btn-primary" href="/experiences" role="button">My Experiences</a> section!
				</div>
			</div>
			
		</div>
	</div>	
</div>

<%- include("partials/footer") %>