/* HOME */
#intro{
	margin-bottom:2em;
}
#home-par{
	/* margin-top:2em; */
	margin-bottom:5em
}

#profile-pic{
	/* margin-top:5em; */
	width: 16em;
	border-radius:2em
}
.navbar{
	background-color:#102e5e;
}
#jum-home{
	background-color:#102e5e;
	color:white;
}
#main{
	margin-top: 2em
}
.i {
	color:white;
	font-size:1.5em;
}
#buttons{
	margin-bottom: 1.5em;
}
/* RESUME */

#jum-resume{
    background-image: url("/stylesheets/landscape.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
	height:25em;
}

.hide{
	 display:none;
} 

.ex{
	font-style: italic;
	font-size:0.8em;
}

